html, body {
    background: #222222;
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
}

.stage {
    position: relative;

    width: 100%;
    height: 100%;
}

.img-sec {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #dddddd;

    @at-root {
        img {
            width: 240px;
            height: 240px;
            display: block;
        }

        .img-figure {
            width: 320px;
            height: 360px;
            margin: 0;
            padding: 40px;
            box-sizing: border-box;
            background-color: #ffffff;

            position: absolute;
            top: 0;
            left: 0;

            cursor: pointer;
            transform-origin: 0  0;
            transform-style: preserve-3d;
            transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
        }

        .is-inverse {
            transform: translate(320px) rotateY(180deg);
        }

        figcaption {
            text-align: center;
            //transform-style:preserve-3d;perspective: 600px;

            .img-title {
                color: #a7a9a2;
                font-size: 16px;
                height: 40px;
                line-height: 40px;
                margin: 0;
                margin-top: 20px;
            }

            .img-back {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                padding: 30px;
                box-sizing: border-box;
                text-align: center;
                color: #666;
                //transform: rotateY(180deg);
                background: #dddddd;

                transform: rotateY(180deg) translateZ(1px);
            }
        }
    }

}



.controller-nav {
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 101;

    width: 100%;
    text-align: center;
}
